* {  margin:0px;
  padding:0px;
}

#sidebar{
  position:fixed;
  width:20%;
  height:100%;
  background: #F2F2F2;
}

#sidebar ul li{
  color:#bdbdbd;
  padding:10%;
  border-bottom:1px solid rgba(100,100,100,.3);
}


